
<div id="header">
		<p>&nbsp&nbsp&nbsp
		Gmail&nbsp&nbsp&nbsp
		Images&nbsp&nbsp&nbsp
		<span id="signon_button">Sign in</span>
		
	  </p>
	
</div>

<body>

<div id="boot">
  <%= image_tag("pokemon_google.png", width: '400px') %>
  <br>
	<label for="search"></label>
	<input type="text" search="search" placeholder="enter search here" id="search_field">
	<br>
	<br>
	<div id="search">
	<button type="button" class="lucky_search">Google Search</button>
			&nbsp;
	<button type="button" class="lucky_search">I'm Feeling Alive!</button>
	</div>

</div>

</body>

<div id="footer">
	<div id="bottom_left">Advertising&nbsp;&nbsp;&nbsp;&nbsp;Business&nbsp;&nbsp;&nbsp;&nbsp;About</div>

	<div id="bottom_right">Privacy&nbsp;&nbsp;&nbsp;&nbsp;Terms&nbsp;&nbsp;&nbsp;&nbsp;Settings</div>
	
</div>

